doctype html
html
  include navbar.pug

.content
  if user_name
    .user_name #{user_name} 님 안녕하세요!
    br
    span.desc 아이템을 클릭하면 상세페이지로 연결됩니다
  #zzimBox 
    for zzim in zzims
      .wrap(method='post')
        figure.item
          img(src= zzim.img, alt='')
          figcaption
            h3.hidden2#id #{zzim.id}
            h3 #{zzim.brand}
            p #{zzim.title}
            span.hidden2 #{zzim.item_id}
          a.hidden(href=zzim.item_url target='_blank') #{zzim.item_url}

        button.deleteBtn
          svg#delete(fill='#000000', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 24 24', width='24px', height='24px')
            path(d='M 12 0 C 5.371094 0 0 5.371094 0 12 C 0 18.628906 5.371094 24 12 24 C 18.628906 24 24 18.628906 24 12 C 24 5.371094 18.628906 0 12 0 Z M 17.390625 15.429688 L 15.429688 17.390625 L 12 13.960938 L 8.570313 17.390625 L 6.609375 15.429688 L 10.039063 12 L 6.609375 8.570313 L 8.570313 6.609375 L 12 10.039063 L 15.429688 6.609375 L 17.390625 8.570313 L 13.960938 12 Z')



include main_footer.pug

script(src='/zzim.js')