doctype html
html
  include main_header.pug

body
  .content
    if user_name
      .user_name #{user_name}  님에게 추천드립니다!
    .box1
      for main in mains
        .wrap(method='post')
          .item
            img(src= main.img, alt='')
            figcaption
              h3.hidden#id #{main.id}
              h3 #{main.brand}
              p #{main.title}
              p #{main.like_cnt}
              span.hidden #{main.item_id}
              
            a.hidden(href=main.item_url target='_blank') #{main.item_url}
          button.zzimBtn(type='submit')
            //- svg 파일

            svg#heart(version='1.1', baseprofile='tiny', xmlns:x='&ns_extend;', xmlns:i='&ns_ai;', xmlns:graph='&ns_graphs;', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:a='http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/', x='0px', y='0px', width='25px', height='25px', viewbox='-0.5 0.5 42 42', xml:space='preserve')
              path(d='M20.938,10.725C14.51,0.796,1.5,6.205,1.5,17.021c0,8.122,17.836,20.827,19.438,22.479C22.551,37.848,39.5,25.143,39.5,17.021C39.5,6.287,27.378,0.796,20.938,10.725z')




    span.text 인기있는 옷

    .box2
      .item
        button.zzimBtn
          svg#heart(version='1.1', baseprofile='tiny', xmlns:x='&ns_extend;', xmlns:i='&ns_ai;', xmlns:graph='&ns_graphs;', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:a='http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/', x='0px', y='0px', width='25px', height='25px', viewbox='-0.5 0.5 42 42', xml:space='preserve')
              path(d='M20.938,10.725C14.51,0.796,1.5,6.205,1.5,17.021c0,8.122,17.836,20.827,19.438,22.479C22.551,37.848,39.5,25.143,39.5,17.021C39.5,6.287,27.378,0.796,20.938,10.725z')

    //- 클릭하면 맨 위로 올라가는 버튼
    a.toTop(href='#')
      img.toTopImg(src="/images/icon/top.png", alt="" width='32px')

include main_footer.pug

script(src='https://unpkg.com/axios/dist/axios.min.js')
script(src='http://code.jquery.com/jquery-latest.js')

script(src='/main.js')